In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('./Dataset/amazon_prime_titles.csv')
df2 = pd.read_csv('./Dataset/disney_plus_titles.csv')
df3 = pd.read_csv('./Dataset/hulu_titles.csv')
df4 = pd.read_csv('./Dataset/netflix_titles.csv')

In [3]:
df = pd.concat([df1, df2, df3, df4], ignore_index=True)
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
22994,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
22995,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
22996,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
22997,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [4]:
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 22998
Number of Columns: 12

In [5]:
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14738 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
dtypes: int64(1), object(11)
memory usage: 2.1+ MB

In [7]:
df.isnull().sum()

show_id             0
type                0
title               0
director         8260
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
dtype: int64

In [8]:
# Fill null values in 'rating' and 'duration' columns with 'Unknown'
df['rating'] = df['rating'].fillna('Unknown')
df['duration'] = df['duration'].fillna('Unknown')


df[['director', 'cast', 'country', 'date_added', 'description']] = df[['director', 'cast', 'country', 'date_added', 'description']].fillna('Not Available')

In [9]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      22998 non-null  object
 4   cast          22998 non-null  object
 5   country       22998 non-null  object
 6   date_added    22998 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22998 non-null  object
 9   duration      22998 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22998 non-null  object
dtypes: int64(1), object(11)
memory usage: 2.1+ MB

In [11]:
df.drop('show_id', axis=1, inplace=True)
df.drop('director', axis=1, inplace=True)
df.drop('cast', axis=1, inplace=True)
df.drop('country', axis=1, inplace=True)
df.drop('description', axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   date_added    22998 non-null  object
 3   release_year  22998 non-null  int64
 4   rating        22998 non-null  object
 5   duration      22998 non-null  object
 6   listed_in     22998 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [13]:
df_clean = df.copy()

In [14]:
df_clean.to_csv('./Dataset/CleanDataSet.csv', index=False)
df_clean.head(5)

,type,title,date_added,release_year,rating,duration,listed_in
0,Movie,The Grand Seduction,"March 30, 2021",2014,Unknown,113 min,"Comedy, Drama"
1,Movie,Take Care Good Night,"March 30, 2021",2018,13+,110 min,"Drama, International"
2,Movie,Secrets of Deception,"March 30, 2021",2017,Unknown,74 min,"Action, Drama, Suspense"
3,Movie,Pink: Staying True,"March 30, 2021",2014,Unknown,69 min,Documentary
4,Movie,Monster Maker,"March 30, 2021",1989,Unknown,45 min,"Drama, Fantasy"

In [15]:
df_clean = pd.read_csv('./Dataset/CleanDataSet.csv')
df_clean.head()

,type,title,date_added,release_year,rating,duration,listed_in
0,Movie,The Grand Seduction,"March 30, 2021",2014,Unknown,113 min,"Comedy, Drama"
1,Movie,Take Care Good Night,"March 30, 2021",2018,13+,110 min,"Drama, International"
2,Movie,Secrets of Deception,"March 30, 2021",2017,Unknown,74 min,"Action, Drama, Suspense"
3,Movie,Pink: Staying True,"March 30, 2021",2014,Unknown,69 min,Documentary
4,Movie,Monster Maker,"March 30, 2021",1989,Unknown,45 min,"Drama, Fantasy"

In [16]:
columns = ['type', 'release_year', 'duration','listed_in','rating']
for i in columns:
    print(i)
    print(df_clean[i].unique)
    print('#'*20)

type
<bound method Series.unique of 0          Movie
1          Movie
2          Movie
3          Movie
4          Movie
          ...
22993      Movie
22994    TV Show
22995      Movie
22996      Movie
22997      Movie
Name: type, Length: 22998, dtype: object>
####################
release_year
<bound method Series.unique of 0        2014
1        2018
2        2017
3        2014
4        1989
         ...
22993    2007
22994    2018
22995    2009
22996    2006
22997    2015
Name: release_year, Length: 22998, dtype: int64>
####################
duration
<bound method Series.unique of 0          113 min
1          110 min
2           74 min
3           69 min
4           45 min
           ...
22993      158 min
22994    2 Seasons
22995       88 min
22996       88 min
22997      111 min
Name: duration, Length: 22998, dtype: object>
####################
listed_in
<bound method Series.unique of 0                                         Comedy, Drama
1                                  Drama, International
2                               Action, Drama, Suspense
3                                           Documentary
4                                        Drama, Fantasy
                              ...
22993                    Cult Movies, Dramas, Thrillers
22994            Kids' TV, Korean TV Shows, TV Comedies
22995                           Comedies, Horror Movies
22996                Children & Family Movies, Comedies
22997    Dramas, International Movies, Music & Musicals
Name: listed_in, Length: 22998, dtype: object>
####################
rating
<bound method Series.unique of 0        Unknown
1            13+
2        Unknown
3        Unknown
4        Unknown
          ...
22993          R
22994      TV-Y7
22995          R
22996         PG
22997      TV-14
Name: rating, Length: 22998, dtype: object>
####################

In [17]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   date_added    22998 non-null  object
 3   release_year  22998 non-null  int64
 4   rating        22998 non-null  object
 5   duration      22998 non-null  object
 6   listed_in     22998 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [18]:
df_clean.dropna(subset=["date_added"], inplace=True)

In [19]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   date_added    22998 non-null  object
 3   release_year  22998 non-null  int64
 4   rating        22998 non-null  object
 5   duration      22998 non-null  object
 6   listed_in     22998 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [20]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [21]:
def encodeCols(cols):
    for i in cols:
        temp = pd.DataFrame({i: df_clean[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(temp))
        df_clean[i] = data_LE.transform(df_clean[i])

columns = ['type', 'title', 'date_added', 'rating', 'duration', 'listed_in']
encodeCols(columns)

In [22]:
df_clean.drop(columns=["date_added"], inplace=True)

In [23]:
df_clean.head(2)

   type  title  release_year  rating  duration  listed_in
0     0  18141          2014     105        20        832
1     0  16917          2018      23        17       1237

In [24]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  int64
 1   title         22998 non-null  int64
 2   release_year  22998 non-null  int64
 3   rating        22998 non-null  int64
 4   duration      22998 non-null  int64
 5   listed_in     22998 non-null  int64
dtypes: int64(6)
memory usage: 1.1 MB

In [25]:
X = df_clean[['title','release_year','duration','listed_in']]
Y = df_clean['rating']

trainX, testX, trainY, testY = train_test_split(X, Y, test_size=0.2, shuffle=False)

In [26]:
trainX.head(2)

   title  release_year  duration  listed_in
0  18141          2014        20        832
1  16917          2018        17       1237

In [27]:
list= ['title', 'release_year', 'duration', 'listed_in']
for i in list:
    print(f"Unique values in {i} are: {df_clean[i].unique()}")
    print(f"Number of unique values in {i} are: {df_clean[i].nunique()}")
    print(f"Data type of {i} is: {df_clean[i].dtype}")
    print(f"Number of null values in {i} are: {df_clean[i].isnull().sum()}")
    print("\n")

Unique values in title are: [18141 16917 15405 ... 22072 22079 22086]
Number of unique values in title are: 22115
Data type of title is: int64
Number of null values in title are: 0


Unique values in release_year are: [2014 2018 2017 1989 2016 1994 2020 2019 2008 2001 1941 1991 2005 2015
 2011 2013 1949 2007 2002 1955 1959 1983 2009 2012 2010 1986 1988 1920
 1936 1992 2021 1993 2006 1948 1946 1944 1935 1985 1937 1970 1945 1939
 1996 1997 1974 1938 1978 2004 1943 1975 1960 1934 1940 1961 2003 2000
 1967 1995 1951 1932 1999 1963 1969 1952 1947 1929 1990 1925 1968 1987
 1942 1979 1980 1981 1976 1966 1973 1956 1972 1950 1953 1982 1977 1933
 1958 1984 1998 1924 1922 1926 1954 1930 1971 1965 1931 1923 1962 1964
 1957 1927 1928]
Number of unique values in release_year are: 101
Data type of release_year is: int64
Number of null values in release_year are: 0


Unique values in duration are: [ 20  17 223 216 180 193 251  42 238 245 239 246 247 181 249   1   9 209
 191 157 118 237 169 170   8 242  99  52 121 110 135 206 205 195 190 235
  35  34  14 240 236 200 175  18 165 167 248 252 227 173 226 198 194  22
 202 188  46 244 211 203 184  31 243   7 212  21  47 219  49   5 185 174
 160  67 215 201 217 161  66  62 241  54  30 228  53 192  11 224 152  12
  13 171  72 178  25  50 204  19  64 221 189  23  55 220 177 232 164 213
  36  74 214 156  43   6  81 222 208 231 234 179  29 150 250 140  10 233
  16  61  78  32 155   0  33  56 168 182  89 109 158  59 207 144 130  69
  37  44  68  26 210  86  93  57 218  48 225 172 229  27  45  80   2  58
  79 176  60  70  24  84  15 154 147 100 119 197 145  38  97  90 131  91
  92   4  83  77  41 183  40 230   3  88  76  73 103  28  51  65 186 101
  71 196  96 199 187  95 114  82  94 107 106  85 111 104 129 113 102 127
 151  63 112 163  75 253 139 120  39  87 159 134 146 166 149 138 108 153
 125 132 136 124 115 142 143 141 116 148 128 105 162 133  98 122 117 137
 126 123]
Number of unique values in duration are: 254
Data type of duration is: int64
Number of null values in duration are: 0


Unique values in listed_in are: [ 832 1237  160 ...   36 1444 1045]
Number of unique values in listed_in are: 1687
Data type of listed_in is: int64
Number of null values in listed_in are: 0

In [28]:
trainY.head()

0    105
1     23
2    105
3    105
4    105
Name: rating, dtype: int64

In [29]:
print(f"TrainX Shape: {trainX.shape}\nTrainY Shape: {trainY.shape}\nTestX Shape: {testX.shape}\nTestY Shape: {testY.shape}")

TrainX Shape: (18398, 4)
TrainY Shape: (18398,)
TestX Shape: (4600, 4)
TestY Shape: (4600,)

In [30]:
import pickle
from sklearn.svm import SVR

In [31]:
model_SVR = SVR()
model_SVR.fit(trainX, trainY)

print(model_SVR)

SVR()

In [32]:
svc_prediction = model_SVR.predict(testX)

In [33]:
print(svc_prediction)

[94.25648403 93.05955844 93.55350534 ... 93.39340077 93.32865636
 94.12563497]

In [34]:
from sklearn.metrics import mean_squared_error
svc_mse = mean_squared_error(testY, svc_prediction)

print("---Model Mean Squared Error---", end='')
print(round(svc_mse, 2))

---Model Mean Squared Error---11.81

In [35]:
print("svc_prediction: ", svc_prediction)
print("testY: ", testY.values)

svc_prediction:  [94.25648403 93.05955844 93.55350534 ... 93.39340077 93.32865636
 94.12563497]
testY:  [97 99 95 ... 94 92 95]

In [36]:
import pickle
pickle.dump(model_SVR, open('model_SVR.pkl', 'wb'))
model = pickle.load(open('model_SVR.pkl', 'rb'))

In [37]:
from sklearn.metrics import r2_score
svc_r2 = r2_score(testY, svc_prediction)

print("---Model R^2 Score---", end='')
print(round(svc_r2, 2))

---Model R^2 Score----0.8