# Task 9

# Libraries

In [1]:
import pandas as pd
import numpy as np

# Data Loading..

In [2]:
df = pd.read_csv('./dataset/heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

# Data Exploration.

In [3]:
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 918
Number of Columns: 12

In [4]:
df.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1

In [5]:
df.tail(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [8]:
for i in df.columns:
    print(i)

Age
Sex
ChestPainType
RestingBP
Cholesterol
FastingBS
RestingECG
MaxHR
ExerciseAngina
Oldpeak
ST_Slope
HeartDisease

In [9]:
df.count()

Age               918
Sex               918
ChestPainType     918
RestingBP         918
Cholesterol       918
FastingBS         918
RestingECG        918
MaxHR             918
ExerciseAngina    918
Oldpeak           918
ST_Slope          918
HeartDisease      918
dtype: int64

In [10]:
df['Sex'].unique()

array(['M', 'F'], dtype=object)

In [11]:
df.nunique()

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64

In [12]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

# Data Pre-Proccessing

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [14]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

# Dropping Irrelevant Column.

In [15]:
df.drop('ExerciseAngina', axis=1, inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            918 non-null    int64
 1   Sex            918 non-null    object
 2   ChestPainType  918 non-null    object
 3   RestingBP      918 non-null    int64
 4   Cholesterol    918 non-null    int64
 5   FastingBS      918 non-null    int64
 6   RestingECG     918 non-null    object
 7   MaxHR          918 non-null    int64
 8   Oldpeak        918 non-null    float64
 9   ST_Slope       918 non-null    object
 10  HeartDisease   918 non-null    int64
dtypes: float64(1), int64(6), object(4)
memory usage: 79.0+ KB

In [17]:
def changeFloattoInt64(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Oldpeak']
changeFloattoInt64(columns)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            918 non-null    int64
 1   Sex            918 non-null    object
 2   ChestPainType  918 non-null    object
 3   RestingBP      918 non-null    int64
 4   Cholesterol    918 non-null    int64
 5   FastingBS      918 non-null    int64
 6   RestingECG     918 non-null    object
 7   MaxHR          918 non-null    int64
 8   Oldpeak        918 non-null    int64
 9   ST_Slope       918 non-null    object
 10  HeartDisease   918 non-null    int64
dtypes: int64(7), object(4)
memory usage: 79.0+ KB

In [19]:
df['Sex'].unique()

array(['M', 'F'], dtype=object)

In [20]:
df_clean = df.copy()

In [21]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [22]:
def encodeCols(cols):
    for i in cols:
        temp = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(temp))
        df_clean[i] = data_LE.transform(df[i])
        
columns  = ['Sex', 'ChestPainType', 'RestingECG', 'ST_Slope']
encodeCols(columns)

In [23]:
df_clean.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,2,0
1,49,0,2,160,180,0,1,156,1,1,1
2,37,1,1,130,283,0,2,98,0,2,0
3,48,0,0,138,214,0,1,108,1,1,1
4,54,1,2,150,195,0,1,122,0,2,0

In [24]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            918 non-null    int64
 1   Sex            918 non-null    int64
 2   ChestPainType  918 non-null    int64
 3   RestingBP      918 non-null    int64
 4   Cholesterol    918 non-null    int64
 5   FastingBS      918 non-null    int64
 6   RestingECG     918 non-null    int64
 7   MaxHR          918 non-null    int64
 8   Oldpeak        918 non-null    int64
 9   ST_Slope       918 non-null    int64
 10  HeartDisease   918 non-null    int64
dtypes: int64(11)
memory usage: 79.0 KB

In [25]:
df_clean.to_csv('./dataset/heart_clean.csv', index=False, header=True)

In [26]:
df_clean.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,2,0
1,49,0,2,160,180,0,1,156,1,1,1

# Data Splitting/Train-Test Split.

In [27]:
X = df_clean[['Sex','Age','ChestPainType','Cholesterol','MaxHR']] # Features variables
y = df_clean['HeartDisease']# Target variable

In [28]:
trainX, testX, trainY, testY = train_test_split(X, y, test_size=0.2, shuffle=False)

In [29]:
trainX.head(2)

   Sex  Age  ChestPainType  Cholesterol  MaxHR
0    1   40              1          289    172
1    0   49              2          180    156

In [30]:
list= ['Sex','Age','ChestPainType','Cholesterol']
for i in list:
    print(f"Unique values in {i} are: {df_clean[i].unique()}")
    print(f"Number of unique values in {i} are: {df_clean[i].nunique()}")
    print(f"Data type of {i} is: {df_clean[i].dtype}")
    print(f"Number of null values in {i} are: {df_clean[i].isnull().sum()}")
    print("\n")

Unique values in Sex are: [1 0]
Number of unique values in Sex are: 2
Data type of Sex is: int64
Number of null values in Sex are: 0


Unique values in Age are: [40 49 37 48 54 39 45 58 42 38 43 60 36 44 53 52 51 56 41 32 65 35 59 50
 47 31 46 57 55 63 66 34 33 61 29 62 28 30 74 68 72 64 69 67 73 70 77 75
 76 71]
Number of unique values in Age are: 50
Data type of Age is: int64
Number of null values in Age are: 0


Unique values in ChestPainType are: [1 2 0 3]
Number of unique values in ChestPainType are: 4
Data type of ChestPainType is: int64
Number of null values in ChestPainType are: 0


Unique values in Cholesterol are: [289 180 283 214 195 339 237 208 207 284 211 164 204 234 273 196 201 248
 267 223 184 288 215 209 260 468 188 518 167 224 172 186 254 306 250 177
 227 230 294 264 259 175 318 216 340 233 205 245 194 270 213 365 342 253
 277 202 297 225 246 412 265 182 218 268 163 529 100 206 238 139 263 291
 229 307 210 329 147  85 269 275 179 392 466 129 241 255 276 282 338 160
 156 272 240 393 161 228 292 388 166 247 331 341 243 279 198 249 168 603
 159 190 185 290 212 231 222 235 320 187 266 287 404 312 251 328 285 280
 192 193 308 219 257 132 226 217 303 298 256 117 295 173 315 281 309 200
 336 355 326 171 491 271 274 394 221 126 305 220 242 347 344 358 169 181
   0 236 203 153 316 311 252 458 384 258 349 142 197 113 261 310 232 110
 123 170 369 152 244 165 337 300 333 385 322 564 239 293 407 149 199 417
 178 319 354 330 302 313 141 327 304 286 360 262 325 299 409 174 183 321
 353 335 278 157 176 131]
Number of unique values in Cholesterol are: 222
Data type of Cholesterol is: int64
Number of null values in Cholesterol are: 0

In [31]:
trainY.head(2)

0    0
1    1
Name: HeartDisease, dtype: int64

In [32]:
print(f"TrainX Shape: {trainX.shape}\nTrainY Shape: {trainY.shape}\nTestX Shape: {testX.shape}\nTestY Shape: {testY.shape}")

TrainX Shape: (734, 5)
TrainY Shape: (734,)
TestX Shape: (184, 5)
TestY Shape: (184,)

# Training/ Applying Classifier.

In [33]:
import pickle
from sklearn.svm import SVC

In [34]:
model_SVC = SVC()
model_SVC.fit(trainX, trainY)

print(model_SVC)

SVC()

# Testing & Processing Results.

In [35]:
svc_prediction = model_SVC.predict(testX)

In [36]:
print(svc_prediction)

[1 0 1 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0
 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1 1 1 1 0 1 1 0 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0
 0 0 0 1 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0 0
 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0]

# Accuracy Score.

In [43]:
from sklearn.metrics import accuracy_score
svc_accuracy = accuracy_score(testY, svc_prediction)

print("---Model Accuracy---", end='')
print(round(svc_accuracy*100,2))

---Model Accuracy---69.57

In [42]:
import pickle
pickle.dump(model_SVC, open('model_SVC.pkl', 'wb'))
model = pickle.load(open('model_SVC.pkl', 'rb'))

In [44]:
# Taking input from the user with specified ranges
user_input = {}
features = ['Sex', 'Age', 'ChestPainType', 'Cholesterol', 'MaxHR']
ranges = {
    'Sex': (0, 1),
    'Age': (30, 80),
    'ChestPainType': (0, 3),
    'Cholesterol': (0, 650),
    'MaxHR': (50, 200)
}

for feature in features:
    while True:
        try:
            value = float(input(f"Enter value for {feature} (range {ranges[feature][0]}-{ranges[feature][1]}): "))
            if ranges[feature][0] <= value <= ranges[feature][1]:
                user_input[feature] = value
                break
            else:
                print(f"Please enter a value within the range {ranges[feature][0]}-{ranges[feature][1]}.")
        except ValueError:
            print("Invalid input. Please enter a numeric value.")

# Converting user input into a DataFrame
user_data = pd.DataFrame([user_input])

# Predicting heart disease
prediction = model_SVC.predict(user_data)

# Displaying the result
if prediction[0] == 1:
    print("The model predicts that the person has heart disease.")
else:
    print("The model predicts that the person does not have heart disease.")

Invalid input. Please enter a numeric value.
Invalid input. Please enter a numeric value.
Invalid input. Please enter a numeric value.
The model predicts that the person has heart disease.